body {
  background: #686fff;
}

.weather {
  &-form {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    input[type=text] {
      border: none;
      border-right: 1px solid grey;
      height: 30px;
      width: 150px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    button {
      height: 32px;
      width: 50px;
      background: #FFF;
      border: none;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &-city {
    background: #FFF;
    margin: 15px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
  }
  &-element {
    display: flex;
    width: 100vw;
    overflow: auto;
  }
  &-element > * {
    flex: 0 0 auto;
  }
  &-temp {
    width: 250px;
    padding: 15px;
    border: 1px solid #80808059;
    margin: 10px;
    border-radius: 5px;
    &_temp {
      display: flex;
      flex-direction: column;
    }
  }
}